/* Import two fonts from Google api */
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Store colours and fonts for use sitewide */
:root {
  --mainColor: #3C1934;
  --secondaryColor: #AA3619;
  --secondaryColorOP: #AA361980;
  --white: white;
  --coreFont: Montserrat;
  --titleFont: Comfortaa;
}

html {
  max-width: 1280px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* Group all elements that require a the same background or font colors */
  #pageTitle, .heroHeadline, .workHeadline {
    background-color: var(--secondaryColorOP);
  }  
  #body .nav-link:hover, .btnSkills, .btnContact, .btnAbout, .skillsProgressBar {
    background: var(--secondaryColor);
  }
  body, .btnSkills:hover, .btnContact:hover, .skillsProgress, .imgHover:hover .workHeadline {
    background: var(--mainColor);
  }
  .btnAbout:hover, .skills {
    background-color: var(--white);
  }
  .spinnerColor1 {
    color: var(--secondaryColorOP)
  }
  .btnAbout:hover, .spinnerColor2 {
    color: var(--secondaryColor);
  }
  .spinnerColor3, .skills {
    color: var(--mainColor)
  }
  body, .btnSkills:hover, .btnContact:hover, .heroAbout {
    color: var(--white);
  }

/* Styling across the whole body */
  body {
    font-family: var(--coreFont), var(--titleFont), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    transition: flex-basis 900ms linear; /* Check whether this is doing what it is intended to do */
    padding: 0 10px 10px 10px;
  }

  #body .nav-link:hover {
    transition: all 0.5s ease;
  }

  a:hover {
    text-decoration: none;
  }

  .navbar-toggler:hover, .navbar-toggler:focus {
    border: 1px solid var(--white);
    outline: 1px solid var(--secondaryColor);
    box-shadow: 
        inset 0px 0px 0px var(--secondaryColor), 
        0 0 20px var(--secondaryColorOP);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }

/* Sidenavbar styling */
#sidenavbar {
  position: fixed;
  left: 0;
  top: 30%;
  width: 80px;
  height: 100%;
  z-index: 5;
}

#sidenavbar a {
  display: block;
  padding: 16px;
}

.homeNav {
  background: url("../images/home-init.png");
}
.aboutNav {
  background: url("../images/about-init.png");
}
.skillsNav {
  background: url("../images/skills-init.png");
}
.portfolioNav {
  background: url("../images/portfolio-init.png");
}
.contactNav {
  background: url("../images/contact-init.png");
}

.homeNav, .aboutNav, .portfolioNav, .skillsNav, .contactNav {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  margin: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

/* Sidenavbar hover styling */
.homeNav:hover {
  background: url("../images/home-hover.png");
}
.aboutNav:hover {
  background: url("../images/about-hover.png");
}
.skillsNav:hover {
  background: url("../images/skills-hover.png");
}
.portfolioNav:hover {
  background: url("../images/portfolio-hover.png");
}
.contactNav:hover {
  background: url("../images/contact-hover.png");
}

.homeNav:hover, .aboutNav:hover, .skillsNav:hover, .portfolioNav:hover, .contactNav:hover {
  transform: scale(1.1);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--mainColor);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

/* Button styling Note: Hero button and About section buttons use the same class (btnAbout) */
  .btnSkills, .btnContact, .btnAbout {
    border: none;
  }
  .btnSkills {
    margin-bottom: 100px;
  }

/* Button hover styling */
  .btnAbout:hover, .btnSkills:hover, .btnContact:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
  }
  #btnAbout:hover {
    transform-origin: left;
  }
  #btnSkills:hover, .btnContact:hover {
    transform-origin: center;
  }

/* Styling for nav bar pageTitle/image/logo */
  #pageTitle {
    width: 300px;
    margin: 5px;
    font-family: var(--titleFont);
    padding: 10px 10px 0 10px;
    border-bottom: 6px solid var(--secondaryColor);
  }

/* Bootstrap framing for hero leader image and headline */
  .jumbotron {
    padding: 0 !important;
    height: 750px;
    top: -100px;
    background: linear-gradient(
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ),
    url("../images/wireframe.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .headshot {
    position: absolute;
    height: 600px;
  }

  /* Overlaid headline on hero image */
    .heroHeadline {
      padding: 10px 10px 0 10px;
      text-align: right;
      border-bottom: 6px solid var(--secondaryColor);
      margin-bottom: 10px;
    }

    .heroAbout {
      padding: 30px;
      text-align: left;
    }

    .heroAbout4{
      position: relative;
      width: 24em;
      margin-left: 0;
      border-right: 2px solid var(--white);
      font-size: 180%;
      text-align: start;
      white-space: nowrap;
      overflow: hidden;
  }
    /* Animation for Hero typing*/
    .anim-typewriter{
      animation: typewriter 3s steps(20) 1s infinite alternate both,
        blinkTextCursor 500ms steps(20) infinite normal;
    }
    @keyframes typewriter{
      from{width: 0;}
      to{width: 100%;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: var(--white);}
      to{border-right-color: transparent;}
    }

/* Styling for About section */
  .sectionHeading {
      text-align: center;
      padding: 50px;
    }

  .aboutRow {
    padding: 0px 30px 30px 30px;
  }

  .cardAbout {
    background: none;
    border: none;
  }

  /* Add an image outline with transition effect when user hovers over about image */
  .aboutImg {
    border: 5px solid var(--white);
    width: 60%;
  }

  .aboutImg:hover {
    outline: 6px solid var(--secondaryColor);
    outline-offset: -5px;
    transition: all 0.3s ease-in-out;
  }

/* Skills section styling. Note: Contact section uses the .skills class styling */
.skillsImg {
  width: 70px;
  height: 70px;
  border: 2px solid var(--mainColor);
}

.skillsProgress {
  height: 30px;
  padding: 5px;
  margin: 20px;
}

/* Portfolio section styling */
.imgBorder {
  border: 5px solid var(--white);
}

/* Set grid background images with linear gradients, and add image headline */
  #imageA {
    background: linear-gradient(
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-5.png");
  }
  #imageB {
    background: linear-gradient(
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-1.png");
  }
  #imageC {
    background: linear-gradient(
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-6.png");
  }
  #imageD {
    background: linear-gradient(
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-3.png");
  }
  .workHeadline {
    text-align: left;
    border-bottom: 6px solid var(--secondaryColor);
  }

  /* Ensures workHeadline sits from the left of the card image with no padding */
  .nopad {
    padding: 0;
  }

/* For making sure the images inside grid are appropriately sized and centered */
  #imageA, #imageB, #imageC, #imageD {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }

/* Set an initial height of imageA and imageB in top row of grid. Note this setting will be changed in media queries */
  #imageA, #imageB {
    min-height: 400px;
  }   

  /* Styling for when user hovers over a work display image.
    Effectively overrides previous setting of linear gradient to give the illusion that the image is lighting up*/
  #imageA:hover {
    background: url("../images/02-portfolio-5.png");
  }
  #imageB:hover {
    background: url("../images/02-portfolio-1.png");
  }
  #imageC:hover {
    background: url("../images/02-portfolio-6.png");
  }
  #imageD:hover {
    background: url("../images/02-portfolio-3.png");
  }

  /* Hover features on grid images */
  #imageA:hover, #imageB:hover, #imageC:hover, #imageD:hover {
    box-shadow: 
        inset 0px 0px 20px var(--secondaryColor), 
        0 0 20px var(--secondaryColor);
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .imgHover:hover .workHeadline {
    text-align: left;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    transform-origin: bottom;
  }

/* Contact bar styling */
.contactContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "connected phone email"
  "connected github twitter"
  "connected linkedin other";
    position: relative;
    margin: 5px;
}

/* Set grid areas for contact items */
.linkedin{
  grid-area: linkedin;
}
.twitter{
  grid-area: twitter;
}
.github{
  grid-area: github;
}
.phone{
  grid-area: phone;
}
.email{
  grid-area: email;
}
.other{
  grid-area: other;
}

.contactItem {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 70%;
}

/* Contact image styling */
.connected {
  grid-area: connected;
  border: 5px solid var(--mainColor);
  width: 50vw;
  max-width: 640px;
}

/* Media query to change styling of titles in aside for no border right, add border bottom, and align text left */
@media only screen and (max-width: 991px) {
  .navbar .nav-link:hover {
    width: 30%;
    padding-left: 5px;
  }
}

/* Media query to change styling of titles in aside for no border right, add border bottom, and align text left */
@media only screen and (max-width: 767px) {
  .headshot {
    height: 300px;
  }

  .jumbotron {
    height: 450px;
  }

  #imageA, #imageB {
    min-height: 200px;
  }

  .contactContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "connected connected connected"
    "connected connected connected"
    "phone email twitter"
    "github linkedin other";
  }
}

/* Media query to change styling of titles */
@media only screen and (max-width: 576px) {
  .heroHeadline h2, .heroAbout h2 {
    font-size: 18px;
  }
  #pageTitle {
    font-size: 20px;
    max-width: 40%;
  }
  .contactItem {
    font-size: 12px;
  }
}

/* Media query for phone edge cases to change styling of titles */
@media only screen and (max-width: 390px) {
  .headshot {
    height: 200px;
  }
  .jumbotron {
    height: 350px;
  }
  .heroAbout, .heroHeadline h2, .heroAbout h2, .heroAbout a {
    font-size: 14px;
  }
  .contactItem {
    font-size: 10px;
  }
}